h1{color: blue;
    font-size:100px;
    font-style:oblique;
    background-color:yellow;
}
body{
    background : linear-gradient(rgb(96, 14, 14),lightgreen,lightblue);
}
h2{
    font-display: swap;
    font-color: rgb(255, 0, 204);
}
h3{
    color: rgb(13, 21, 237);
    font-size: 70px;
    font-style: inherit;
}

p{
    color: rgb(213, 212, 220);
}
ol{
    list-style: circle;
    color: rgb(136, 8, 165);
}
